# Local OS files
.DS_Store
Thumbs.db

# IDE config files
.idea/
.vscode/

# Local temporary or log files
*.log
npm-debug.log*

# Node packages (if any installed locally)
node_modules/
package-lock.json

# Python cache & virtualenv
__pycache__/
*.pyc
venv/
.venv/

# App-specific database and downloads
database.db
downloads/

